.window 
    .window__room.room 
        .room__panel
            h2.room__title= `#${context.room.id}`
            p.room__students-amount
                span= context.room.users.length - 1 
                span онлайн
        if context.isDisconnected
            .room__disconnected-block
                if context.isReconnecting 
                    span.room__disconnected-text Подключаюсь...
                else 
                    span.room__disconnected-text Нет соединения
                    a(href="#" class="room__disconnected-link" id="rehost") Подключить
        else 
            .room__links
                a(href="#" class="link room__invite" id="invite" data-clipboard-text=`Комната: ${
                    context.room.id
                }\nСервер: ${
                    context.server
                }\nУстановить плагин: ${
                    context.pluginUrl
                }`) пригласить
                a(href="#" class="link room__quit" id="quit") выйти
            .room__task-buttons
                button(class= `${context.isShowingTask ? "room__task-button" : "room__button"}`)#show-task= context.isShowingTask ?"Файловое дерево" : "Задания" 
                img.room__task-settings(src="./public/img/settings-icon.svg", alt="")
        .room__students.students(class=context.room.users.length < 2 ? 'room__students--empty' : '')
            if context.room.users.length < 2
                p.students__empty Пока никого нет. Отправьте ученикам номер комнаты, чтобы пригласить их!
            else
                ul.students__list
                    each user in context.room.users 
                        if user.role === 'client'
                            li.students__item.item(class=`${
                                user.unreadMessages && !user.isActive ? 'students__item--unread' : ''
                            } ${
                                user.isActive ? 'students__item--active' : ''
                            }` id=user.id data-name=user.name)
                                span.item__name(class=!user.unreadMessages ? 'item__name--read' : '')= user.name 
                                if user.unreadMessages && !user.isActive
                                    span.item__unread= user.unreadMessages.length
    if context.isShowingTask
        .window__task.task 
            .task__container 
                h2.task__title Задание
                .task__works-box 
                    .task__works
                            input.task__work(type="radio" value="1" name="work" id="work-one" checked=1 === Number(context.taskNumber))
                            label.task__work-label(for="work-one") 1
                            input.task__work(type="radio" value="2" name="work" id="work-two" checked=2 === Number(context.taskNumber))
                            label.task__work-label(for="work-two") 2
                            input.task__work(type="radio" value="3" name="work" id="work-three" checked=3 === Number(context.taskNumber))
                            label.task__work-label(for="work-three") 3
                            input.task__work(type="radio" value="4" name="work" id="work-four" checked=4 === Number(context.taskNumber))
                            label.task__work-label(for="work-four") 4
                            input.task__work(type="radio" value="5" name="work" id="work-five" checked=5 === Number(context.taskNumber))
                            label.task__work-label(for="work-five") 5
                            input.task__work(type="radio" value="6" name="work" id="work-six" checked=6 === Number(context.taskNumber))
                            label.task__work-label(for="work-six") 6
                            input.task__work(type="radio" value="7" name="work" id="work-seven" checked=7 === Number(context.taskNumber))
                            label.task__work-label(for="work-seven") 7
                            input.task__work(type="radio" value="8" name="work" id="work-eight" checked=8 === Number(context.taskNumber))
                            label.task__work-label(for="work-eight") 8
                            input.task__work(type="radio" value="Теория" name="work" id="work-teory" checked="Теория" === context.taskNumber)
                            label.task__work-label(for="work-teory") Теория

                    button(class= context.isSent ? "task__button-sent" : "task__button")#send-task= context.isSent ? "Отправлено" : "Отправить"                    
                .task__area#task-area
            
            .task__notion.notion
                .notion__box
                    h2.notion__title Импорт
                    input.notion__input(type="text" placeholder="Вставьте ссылку на Notion")#notion-input
                        
                    if context.notionError 
                            p.notion__error Ошибка импорта
                    else
                        button(class= context.isNotion ? "notion__btn-sent" : "notion__btn")#notion-btn= context.isNotion ? "Запрос отправлен" : "Импорт"

                

    else
        .window__code.code(class=!context.filetree && 'window__code--empty')   
            if !context.filetree
                span Выберите ученика, его код появится здесь 
            else
                .code__filetree#filetree
                    each file in context.filetree.files 
                        if file.type === 'file' && file.status !== 'REMOVED'
                            .code__tree-section.file(class=`code__tree-section--level-${file.level} ${
                                file.isActive ? 'code__tree-section--active' : ''
                            }` data-path= file.path)
                                img(src="./public/img/file.svg" alt="file")
                                span.code__tree-name(class=`${
                                    file.isActive ? 'code__tree-name--active' : ''
                                }`)= file.name
                                if file.isChanged
                                    .code__tree-point
                        else if file.type === 'folder' && file.status !== 'REMOVED'
                            .code__tree-section(class=`code__tree-section--level-${file.level}`)
                                img(src="./public/img/folder.svg" alt="folder")
                                span.code__tree-name= file.name
                            each dirFile in context.filetree[file.name].files
                                if dirFile.status !== 'REMOVED'
                                    .code__tree-section.file(class=`code__tree-section--level-${dirFile.level} ${
                                        dirFile.isActive ? 'code__tree-section--active' : ''
                                    }` data-path= dirFile.path)
                                        img(src="./public/img/file.svg" alt="file")
                                        span.code__tree-name(class=`${
                                            dirFile.isActive ? 'code__tree-name--active' : ''
                                        }`)= dirFile.name
                                        if dirFile.isChanged
                                            .code__tree-point
                if context.isDisconnected || context.isReconnecting 
                    p.code__disconnected-screen Нет соединения...
                else 
                    pre.code__show-screen#code 
                        code= context.code
    if context.activeUserId
        
        div(class=`${
            !context.isFormConverted ? 'message-form' : 'message-form--converted'
        }`).form(style= `${context.currentSteps && context.isFormConverted && context.currentSteps.filter( status => status !== 'NONE').length !== 0 ? `bottom: ${context.currentSteps.filter( status => status !== 'NONE').length * (44) + 19}px`: "bottom : 19px"}`)
            .form__top 
                h3.form__name= context.activeUserName 
                a(href="#" class="form__link" id="converter")= context.isFormConverted ? 'Развернуть' : 'Свернуть'
            if context.currentSteps
                .form__steps.steps
                    each step, index in context.currentSteps 
                        if step === 'DONE'
                            .steps__box.steps__box--done 
                                p.steps__text На проверке
                                    span.steps__text--underline= ` #${index + 1}`
                                .steps__links 
                                    a.steps__link.steps__link--return.return(href="#" data-number=`${index + 1}`) Вернуть
                                    a.steps__link.steps__link--confirm.accept(href="#" data-number=`${index + 1}`) Принять
                        else if step === 'HELP'
                            .steps__box.steps__box--help 
                                p.steps__text Нужна помощь с
                                    span.steps__text--underline= ` #${index + 1}`
                                .steps__links 
                                    a.steps__link.steps__link--complete.complete(href="#" data-number=`${index + 1}`) Разобрались
                        else if step === 'ACCEPTED'
                            .steps__box.steps__box--accepted
                                p.steps__text Выполнено
                                    span.steps__text--underline= ` #${index + 1}`
            if !context.isFormConverted
                .form__messages#chat
                    if context.allMessages.length > 0
                        each message in context.allMessages 
                            if message.sender === context.activeUserId || message.sender === context.room.host && message.receiver === context.activeUserId 
                                .form__message(class=`${
                                    message.sender === context.activeUserId ? 'form__message--student' : ''
                                }`)
                                    p= message.content
                    else 
                        p.form__empty-text Нет сообщений
                .form__footer
                    input(type="text" class="form__input" placeholder="Начните печатать" id="message-text")
                    button.form__button#send-message
