.window 
    .window__room.room 
        .room__panel
            h2.room__title= `#${context.room.id}`
            p.room__students-amount
                span= context.room.users.length - 1 
                span онлайн
        if !context.isOnline
            .room__disconnected-block
                span.room__disconnected-text Нет соединения
                a(href="#" class="room__disconnected-link" id="rehost") Подключить
        .room__links
            a(href="#" class="link room__invite" id="invite") пригласить
            a(href="#" class="link room__quit" id="quit") выйти
        .room__students.students(class=context.room.users.length < 2 ? 'room__students--empty' : '')
            if context.room.users.length < 2
                p.students__empty Пока никого нет. Отправьте ученикам номер комнаты, чтобы пригласить их!
            else
                ul.students__list
                    each user in context.room.users 
                        if user.role === 'client'
                            li.students__item.item(class=`${
                                user.unreadMessages && !user.isActive ? 'students__item--unread' : ''
                            } ${
                                user.isActive ? 'students__item--active' : ''
                            }` id=user.id)
                                span.item__name(class=!user.unreadMessages ? 'item__name--read' : '')= user.name 
                                if user.unreadMessages && !user.isActive
                                    span.item__unread= user.unreadMessages.length
        a(href="#" class="link room__instructions" id="instructions") Инструкция для учеников
    .window__code.code(class=!context.filetree && 'window__code--empty')
        if !context.filetree
            span Выберите ученика, его код появится здесь
        else
            .code__filetree
                each file in context.filetree.files 
                    if file.type === 'file' && file.status !== 'REMOVED'
                        .code__tree-section.file(class=`code__tree-section--level-${file.level} ${
                            file.isActive ? 'code__tree-section--active' : ''
                        }`)
                            img(src="./public/img/file.svg" alt="file")
                            span.code__tree-name(class=`${
                                file.isActive ? 'code__tree-name--active' : ''
                            }`)= file.name
                    else if file.type === 'folder'
                        .code__tree-section(class=`code__tree-section--level-${file.level}`)
                            img(src="./public/img/folder.svg" alt="folder")
                            span.code__tree-name= file.name
                        each dirFile in context.filetree[file.name].files
                            if file.status !== 'REMOVED'
                                .code__tree-section.file(class=`code__tree-section--level-${dirFile.level} ${
                                    dirFile.isActive ? 'code__tree-section--active' : ''
                                }`)
                                    img(src="./public/img/file.svg" alt="file")
                                    span.code__tree-name(class=`${
                                        dirFile.isActive ? 'code__tree-name--active' : ''
                                    }`)= dirFile.name
            pre.code__show-screen 
                code= context.code