if context.currentSteps
    .messages__steps.steps
        each step, key in context.currentSteps
            if step === 'DONE'
                .steps__box.steps__box--done 
                    p.steps__text На проверке
                        span.steps__text--underline= ` #${key}`
                    .steps__links 
                        a.steps__link.steps__link--return(@click="send_steps" href="#" data-index=`${key}` data-status="NONE") Вернуть
                        a.steps__link.steps__link--confirm(@click="send_steps" href="#" data-index=`${key}` data-status="ACCEPTED") Принять
            else if step === 'HELP'
                .steps__box.steps__box--help 
                    p.steps__text Нужна помощь с
                        span.steps__text--underline= ` #${key}`
                    .steps__links 
                        a.steps__link.steps__link--complete(@click="send_steps" href="#" data-index=`${key}` data-status="NONE") Разобрались