if context.room.users.length < 2
    p.students__empty Пока никого нет. Отправьте ученикам номер комнаты, чтобы пригласить их!
else
    ul.students__list
        each user in context.room.users
            if user.role === 'client'
                li.students__item.item(class=`${
                    user.unreadMessages && !user.isActive ? 'students__item--unread' : ''
                } ${
                    user.isActive ? 'students__item--active' : ''
                }` id=user.id data-name=user.name)
                    if user.steps !== null && user.steps !== undefinded
                        if user.steps.includes("HELP")
                            img(src="./public/img/help-icon.svg", alt="help")
                        if user.steps.includes("DONE") && !user.steps.includes("HELP")
                            img(src="./public/img/done-icon.svg", alt="done")
                        if  user.steps.length > 0 && user.steps.every(el => el === "ACCEPTED")
                            img(src="./public/img/accepted-icon.svg", alt="accepted")
                    span.item__name(class=!user.unreadMessages ? 'item__name--read' : '')= user.name 
                    if user.unreadMessages && !user.isActive
                        span.item__unread= user.unreadMessages.length