if context.room.users.length < 2
    p.students__empty There is noone so far. Send a number of the room your students to invite them!
else
    ul.students__list
        each user in context.room.users
            if user.role === 'client'
                li.students__item.item(@click="click_user" class=`${
                    user.messages_unread && !user.isActive ? 'students__item--unread' : ''
                } ${
                    user.isActive ? 'students__item--active' : ''
                }` id=user.id data-name=user.name)
                    if user.steps !== null && user.steps !== undefinded
                        if Object.values(user.steps).includes("HELP")
                            img(src="./public/img/help-icon.svg", alt="help")
                        if Object.values(user.steps).includes("DONE") && !Object.values(user.steps).includes("HELP")
                            img(src="./public/img/done-icon.svg", alt="done")
                        if  Object.values(user.steps).length > 0 && Object.values(user.steps).every(el => el === "ACCEPTED")
                            img(src="./public/img/accepted-icon.svg", alt="accepted")
                    span.item__name(id=user.id class=!user.messages_unread ? 'item__name--read' : '')= user.name 
                    if !user.isActive && user.messages_unread > 0
                        span.item__unread= user.messages_unread